{
	"Params": {
		"DevMode": {
			"Instrumentation": {
				"command": "",
				"env": {
					"BLUEMIX_APP_MGMT_ENABLE": "devconsole+shell+inspector",
					"NODE_ENV": "development"
				},
				"memory": "384M"
			},
			"Packager": "com.ibm.perfectstorm.cloudoe.packager.LiveEditDeploymentPackager"
		},
		"Name": "devops-insights-20190404070437126",
		"Target": {
			"Url": "https://api.eu-gb.bluemix.net",
			"Org": "ssawan18@in.ibm.com",
			"Space": "Prod"
		},
		"Timeout": 60
	},
	"Path": "",
	"ServiceId": "com.ibm.cloudoe.orion.client.deploy",
	"Type": "Cloud Foundry"
}